.ipynb_checkpoints
tpsgc-pwgsc_co-ch_tous-all\ -\ contract history.csv
tpsgc-pwgsc_aa-a\ -\ awarded.csv
awards_releases*.json
tender_releases*.json
contracts_releases_compact*.json
complete_record.json
